
<div style="text-align:center">

<h1>Welcome, {{userName}}!</h1>

<form>
  <input [(ngModel)]="userName" type="text" name="user">

</form>


<div style="text-align:center">
  <h1>To Do List for {{month}}/{{day}}/{{year}}</h1>
  <h3>{{currentTask}}</h3>
  <img width="300" alt="To Do List Image" src="https://assets.pcmag.com/media/images/547668-the-best-to-do-list-apps.jpg?thumb=y&width=810&height=456">
  <app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>
</div>

<br>

<!-- <ul>
<li [class]="priorityColor(currentTask)" *ngFor="let currentTask of tasks">{{currentTask.description}} <button (click)="editTask(currentTask)">Edit!</button></li>
</ul> -->

<!-- <div *ngIf="selectedTask">
<h3>"{{selectedTask.description}}"<hr></h3>
<p>Task Complete? {{selectedTask.done}}</p>

<h3>Edit Task</h3>
<label>Enter Task Description</label> <br>
<input [(ngModel)]="selectedTask.description">
<br>
<input type="radio" [(ngModel)]="selectedTask.priority" [value]="1">1 (Low Priority)<br>
<input type="radio" [(ngModel)]="selectedTask.priority" [value]="2">2 (Medium Priority)<br>
<input type="radio" [(ngModel)]="selectedTask.priority" [value]="3">3 (High Priority); <br>
<button (click)="finishedEditing()">Done</button>
</div> -->

<app-edit-task [childSelectedTask]="selectedTask" (clickedDone)="finishedEditing()"></app-edit-task>

<app-new-task (sendTask)="addTask($event)"></app-new-task>

</div>





<!-- <h2>Here are some links to help you start: </h2>
<ul>
 <li [class]="priorityColor(currentTask)" *ngFor="let currentTask of tasks">{{currentTask.description}} <button (click)="editTask(currentTask)">Edit!</button></li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
